<h1>Polymorphic User Devise/Omniauth/Cancan Test</h1>

<p>Logged in as: <%= p "#{@currentuser.email}" %></p>
<p>Session: <%= p "#{@user_session}" %></p>
<p>User signed in: <%= p "#{@user_signed_in}" %></p>
<p>Thing ID: <%= p "#{@currentuser.type.thing_id}" %></p>
<p>Thing Type: <%= p "#{@currentuser.type.thing_type}" %></p>


<p>For user type 1s only (type 2s will get an error page)</p>
<%= link_to "Create thing 1", thing1_create_path %>
</br>
<%= link_to "Create thing 2", thing2_create_path %>
</br>
<%= link_to "Create thing 3", thing3_create_path %>
</br>
<%= link_to "DESTROY MY THING", thing_destroy_path %>
</br>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
