<h1>User's Type 1 Info</h1>

<p>Id: <%= p @usertype1.id %></p>
<p>Thing id: <%= p @usertype1.thing_id %></p>
<p>Thing type: <%= p @usertype1.thing_type %></p>
<p>User id:<%= p @usertype1.user_id %></p>
<p>Location: <%= p @usertype1.location %></p>
<p>Name: <%= p @usertype1.name %></p>
<p>Twitter UID: <%= p @usertype1.twitter_uid %></p>

