<h1>User's Type 1 Info</h1>

<p>Id: <%= @usertype1.id %></p>
<p>Thing id: <%= @usertype1.thing_id %></p>
<p>Thing type: <%= @usertype1.thing_type %></p>
<p>User id:<%= @usertype1.user.id %></p>
<p>Location: <%= @usertype1.location %></p>
<p>Name: <%= @usertype1.name %></p>
<p>Twitter UID: <%= @usertype1.twitter_uid %></p>
<p>Facebook UID: <%= @usertype1.facebook_uid %></p>

<%= link_to "Update account", edit_user_type1_path %>
