<h1>User Information</h1>

<p>Id: <%= p @user.id %></p>
<p>Type id: <%= p @user.type_id %></p>
<p>Type type: <%= p @user.type_type %></p>
<p>Email: <%= p @user.email %></p>
<p>Reset password token: <%= p @user.reset_password_token %></p>
<p>Reset password sent at: <%= p @user.reset_password_sent_at %></p>
<p>Remember created at: <%= p @user.remember_created_at %></p>
<p>Sign in count: <%= p @user.sign_in_count %></p>
<p>Current sign in at: <%= p @user.current_sign_in_at %></p>
<p>Last sign in at: <%= p @user.last_sign_in_at %></p>
<p>Current sign in at: <%= p @user.current_sign_in_ip %></p>
<p>Last sign in: <%= p @user.last_sign_in_ip %></p>
<p>Created at: <%= p @user.created_at %></p>
<p>Updated at: <%= p @user.updated_at %></p>
