<h1>User Information</h1>

<p><%= p @user.id %></p>
<p><%= p @user.type_id %></p>
<p><%= p @user.type_type %></p>
<p><%= p @user.email %></p>
<p><%= p @user.reset_password_token %></p>
<p><%= p @user.reset_password_sent_at %></p>
<p><%= p @user.remember_created_at %></p>
<p><%= p @user.sign_in_count %></p>
<p><%= p @user.current_sign_in_at %></p>
<p><%= p @user.last_sign_in_at %></p>
<p><%= p @user.current_sign_in_ip %></p>
<p><%= p @user.last_sign_in_ip %></p>
<p><%= p @user.created_at %></p>
<p><%= p @user.updated_at %></p>
