<h1>Thing1</h1>
<p>Id: <%= @thing.id %></p>
<p>Name: <%= @thing.thing_name %></p>
<p>Description: <%= @thing.thing_description %></p>
<p>Stat: <%= @thing.thing_stat %></p>
<p>Other stat: <%= @thing.thing_other_stat %></p>
<p>Occurrance date: <%= @thing.thing_occurrance_date %></p>
