<h1>Thing2</h1>
<p>Id: <%= @thing.id %></p>
<p>Name: <%= @thing.name %></p>
<p>Description: <%= @thing.thing_description %></p>
<p>Equipment: <%= @thing.thing_equipment %></p>
<p>Stat: <%= @thing.thing_stat %></p>
