<h1>Thing2</h1>
<p>Id: <%= @thing2.id %></p>
<p>Name: <%= @thing2.thing_name %></p>
<p>Description: <%= @thing2.thing_description %></p>
<p>Equipment: <%= @thing2.thing_equipment %></p>
<p>Stat: <%= @thing2.thing_stat %></p>

<%= link_to "Edit this thing", edit_thing2_path %>
